extends layout

block content
  h1= title
  p Welcome to Members Only!

  if user
    if user.membership_status === "guest"
      p You are a guest, enter the secret password to become a member to post!
      form(action="/make-member", method="POST")
        label(for="secret") Enter the secret password: 
        input(type="password", name="secret")
        button Submit
      if incorrect_secret 
        p That is the incorrect secret password!
    else if user.membership_status === "member"
      p You are a member!
  else
    p You are not logged in! Log in or create an account to see the names of the posters!

  if post_list.length 
    ul 
      each post in post_list 
        li 
          p #{post.date}
          if user 
            p Posted by: #{post.user.name}
          else 
            p Posted by: Anonymous
          p #{post.message}
  else
    p There are no posts.

  if user
    if user.membership_status === "member"
      form(action="/post", method="POST")
        label(for="postContent") Create a Post: 
        textarea(id="postContent", name="postContent")
        button Post

  if errors 
    ul 
      for error in errors 
        li!= error.msg